@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --lightGray: #edf0f1;
    --charcoal: #24252a;
    --lighterCharcoal: #2B2D32;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--charcoal);
  color: var(--lightGray);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  position: absolute;
  width: 100%;
  text-shadow: 5px 5px black;
  z-index: 2;
  text-align: center;
  font-size: 50px !important;
  margin-top: 20%;
}

.animationArea {
	width: 100%;
	height: 100vh;
}

.box {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgb(43, 45, 50, 0.4);
}

.names, .shapes {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
  z-index: 0;
}

.names {
  transform: rotate(-5deg);
}

.names li {
  font-family: 'Permanent Marker', cursive;
	position: absolute;
	display: block;
	list-style: none;
	animation: name 20s linear infinite;
  color: rgba(255, 255, 255, 0.2);
	bottom: 100vh;
  font-size: calc(3vw + 3px);
}

.shapes li {
  position: absolute;
	display: block;
	list-style: none;
	animation: shape 20s linear infinite;
	bottom: 100vh;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.names li:nth-child(1) {
	left: 0%;
}

.names li:nth-child(2) {
	left: 20%;
}

.names li:nth-child(3) {
	left: 40%;
}

.names li:nth-child(4) {
	left: 60%;
}

.names li:nth-child(5) {
	left: 80%;
}

.names li:nth-child(6) {
	left: -10%;
  animation-delay: 2.5s;
}

.names li:nth-child(7) {
	left: 10%;
  animation-delay: 2.5s;
}

.names li:nth-child(8) {
	left: 30%;
  animation-delay: 2.5s;
}

.names li:nth-child(9) {
	left: 50%;
  animation-delay: 2.5s;
}

.names li:nth-child(10) {
	left: 70%;
  animation-delay: 2.5s;
}

.names li:nth-child(11) {
	left: 90%;
  animation-delay: 2.5s;
}

.shapes li:nth-child(1) {
  left: 75%;
  width: 100px;
	height: 100px;
  animation-delay: 2.5s;
}

.shapes li:nth-child(2) {
  left: 25%;
	width: 40px;
	height: 40px;
  animation-delay: 5s;
}

@keyframes name {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(110vh);
	}
}

@keyframes shape {
	0% {
		transform: translateY(100vh) rotate(0deg);
	}
	100% {
		transform: translateY(0) rotate(360deg);
	}
}
